@{
    ViewData["Title"] = "About";
}
<head>
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title ">About me</h1>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>About us</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                <div class="page-section">
                    <p>“Hi there! I’m Jessica. It is nice to virtually meet you and I can’t wait to connect. Thank you for taking the time to visit my site and learn more about what I do and how I do it”</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="about-section ">
                    <div class="about-title">
                        <h1>Jessica Barbar</h1>
                        <div class="meta">Nutrition, Diet Coach</div>
                    </div>
                    <p>Etiam vel augue ligulahasellus semper ones uisque non pulvinar eros quis luctus liberos lorem in ultrices interdacmn egete.</p>
                    <p>Sisque non pulvinar eros quis luctus liberos lorem in ultrices interdacmn egete.</p>
                </div>
            </div>
            <div class="col-lg-7 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <img src="~/images/img-01.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>